.App {
  text-align: center;
  font-family: monospace;
  align-items: center;
  width: 100%;
  background-color: #A0ECD0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header {
  font-size: 70px;
  background: hidden;
  opacity: 0.5;
  display: block;
  font-weight: bold;
  transform: rotate(-35deg);
  color: #279AF1;
  border: 10px solid #279AF1;
  position: absolute;
  z-index: 15;
  transition: all 0.5s
}

.SocialIcon {
  color: #279AF1;
  position: absolute;
  opacity: 0.5;
}

.Header:hover {
  color: #ee4266;
  border: 10px solid #ee4266;
  transform: translate(-15px, -15px);
    text-shadow: 
    1px 1px 0px #279AF1,
    2px 2px 0px #279AF1,
    3px 3px 0px #279AF1,
    4px 4px 0px #279AF1,
    5px 5px 0px #279AF1,
    6px 6px 0px #279AF1,
    7px 7px 0px #279AF1,
    8px 8px 0px #279AF1,
    9px 9px 0px #279AF1,
    10px 10px 0px #279AF1,
    11px 11px 0px #279AF1,
    12px 12px 0px #279AF1,
    13px 13px 0px #279AF1,
    14px 14px 0px #279AF1,
    15px 15px 0px #279AF1;
}